@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  .developer1{
    width: 800px;
    height: 500px;
  }

  .developer2{
    width: 800px;
    height: 800px;
  }
/* Custom hover effect */
.custom-hover-bg{
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease;
}
.custom-hover-bg:hover {
  background: transparent;
    box-shadow: 0 0 1px #7562E0,
    0 0 25px #7562E0, 0 0 50px #7562E0,
    0 0 100px #7562E0, 0 0 200px #7562E0
    
}
.whi {
  white-space: pre-line;
}

.transition-transform {
  transition: transform 1s ease-in-out;
}

.btn{
  transition: transform 2s ease-in-out;
}


.lottie{
  transition: transform 5s ease-in-out;
}
.about{
  transition: transform 2s ease-in-out;
}